.di1{
  margin:10px;
}

.img1{
  margin-top:50px;
}

.img2{
  margin:5px;
}

.row1{
}

.row2{
  margin-top: 150px;
  text-align: right;
}

.car1{
  margin-top: 20px;
}

.btt15{
  border:none;
  background-color:white;
  margin-left:300px;
}
