.imglogo1{

}

.btt11{
  border:none;
  background-color:white;
}

.inp1{
  margin-top:5px;
}
.Navi1{
  background-color: #424C6B;
}
.inp2{
  color: white;
  margin-right: 5px;
}

.sel1{
  margin-left:40px;
  width:300px;
  height:30px;
  margin-top:5px;
}
.navLeft1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btt11{
  background-color: #424C6B;
  color: #424C6B;
  border-width: 0;
  margin-top:2px;
}

.btt12{
  border:none;
  background-color:white;
  margin-left:-20px;
  margin-top:2px;
}
