.scroll {
  opacity: 0.7;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}
.card1{
  background-color: #FAFAFA;
}
.card2{
  margin: 40px;
}
.card3{
  margin-top:10px;
  background-color: #FFFFFF;
  display: flex;
  flex:1;
  height:400px;
  flex-direction: column;
}
.card4{
  padding: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.cnt1{
  background-color: #FAFAFA;
}
.cnt2{
  display: flex;
  flex-direction: column;
}
.cnt3{
  height: 300px;

}
.cnt4{
  background-color:#FAFAFA;
}
.cnt5{
  flex:1;
  display: flex;
  flex-direction: row;
}
.cnt6{
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #FFFFFF;
  align-items: flex-end;
}
.cnt7{
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color:  #FAFAFA;
  align-items: center;
}
.cnt8{
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color:  #FAFAFA;
  align-items: center;
}
.cnt9{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 300px;

}
.btt1{
  color: white;
  background-color: white;
  width: 60px;
  padding-bottom:0;
  border-width: 4px;
}
.abs6{
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  right: 10px;
  bottom: 12px;
}
.title{
  color: gray;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bttStyle1{
  display: flex;
  flex-direction: column;
}
.bttStyle2{
  background-color: #FFFFFF;
  border-width: 0;
  width:100%;
}
.bottomLine{
  height: 3px;
  background-color: #2E7DE1;
}
.grayLine{
  height: 1px;
  width:100%;
  background-color: #FAFAFA;
  border-width: 0;
}
.text1{
  font-size:11px;
  text-align: center;
}
.input{
  position: relative;
  padding-bottom:2px;
}
.text2{
  margin-left:5px;
  font-size:9px;
  text-align: center;
  color: #32a8ff;
}
.checkbox{
}

.model{
  margin-left:30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top:4px;
  margin-bottom:4px;
}
.group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  margin-top:4px;
  margin-bottom:4px;
}
.brand{
  display: flex;
  margin-top:4px;
  margin-bottom:4px;
  margin-left: 3px;
  justify-content: flex-start;
  align-items: center;
}
.center{
  margin-left:5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.center2{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FFFFFF;
  align-items: flex-end;
  position: relative;
}

.cardText{
  font-size: 12px;
  margin-top: 4px;
  background-color: transparent;
}
.cardTitle1{
  height:80px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom:4px;
  background-color: #FFFFFF;
}
.img1{
  margin: 0;
  width: 100%;
  height:200px;
  background-color: transparent;
}

.img2{
  margin: 0;
  width: 23px;
  height:20px;
  background-color: transparent;
}
.img3{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  background-color: #2E7DE1;
}
.navLeft{
  display: flex;
  width: 80%;
  margin-Top: 15px;
  justify-content: flex-start;
  align-self: center;
  color: white;
}
.col11{
  margin-left:20px;
}
