
.login1{
}
.card3{
  display: flex;
  justify-content: flex-start;
}
.cont{
  background-color: white;
}
.ro1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt1{
  background-color:#2E7DE1;
  margin-top:10px;
  width: 100px;
}
.bt2{
  background-color:#2E7DE1;
  color:black;
  margin-top:10px;
  width: 100px;
}

.cardText{
  font-size: 12px;
  margin-top: 4px;
  background-color: transparent;
}
.cardTitle{
  height:50px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom:4px;
  background-color: #FFFFFF;
}
