
.login1{
}

.card3{
  display: flex;
  justify-content: flex-start;
}

.cont{
  background-color: white;
}

.ro1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-3{
  font-family: Times New Roman;
}

.bt1{
  background-color:#2E7DE1;
  margin-top:10px;
  width: 100px;
}
.bt2{
  background-color:#2E7DE1;
  color:black;
  margin-top:10px;
  width: 100px;
}

.mr-sm-2{
  margin:5px;
}
