.bt1 {
  margin: 12px;
  background-color:#e5ffe9;
}

.bt2{
  margin:12px;
  background-color:#e5efff;
}

.bt3{
  background-color:#aaffd3;
}

.bt4{
  margin:5px;
  background-color:#ffe4a8;
  color:black;
}

.cnt1{
  padding:25px;
  background-color:#fef9ff;
}
